.form{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border: 1px solid black;
    border-radius: 5px;
    gap: 20px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.form input{
    outline: none;
    width: 250px;
    height: 39px;
    border-radius: 7px;
    border: 2px solid teal;
    padding-left: 15px;
}
.form .form-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}
.form button{
    background: teal;
    color: white;
    text-transform: uppercase;
    height: 39px;
    border-radius: 7px;
    outline: none;
    border: 2px solid teal;
    transition: 0.5s all;
    cursor: pointer;
}
.form button:hover{
    background: white;
    color: teal;
}
form span{
    font-size: 13px;
}
.success{
    color: green;
}
.error{
    color: red;
}